/* IMPOSTAZIONI GENERALI */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  background-image: url(/assets/img/sfondo.png);
  background-image: repeating;
  margin: 30px;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-size: 19px;
}
strong {
  font-weight: 600;
  color: #eb3e80;
}
p {
  margin-bottom: 1rem;
}
/* HEADER */
header {
  background: linear-gradient(10deg, #0f5a85, #2b8d78);
  color: white;
  text-align: center;
  align-items: center;
  box-shadow: 6px 5px 12px #00000057;
  padding-block: 25px;
  text-transform: uppercase;
}
header a {
  color: white;
  text-decoration: none;
}
hr {
  clear: both;
  visibility: hidden;
}
ion-icon {
  align-items: center;
}
/* MAIN */
main {
  background-color: white;
  box-shadow: 6px 5px 12px #00000057;
  padding: 2em 1em;
  margin-bottom: 1.5em;
}
/* ELEMENTI NEL MAIN - ARTICLE */
main h1 {
  padding-block: 10px;
  font-weight: 600;
  font-size: 36px;
}
.sottotitolo {
  color: #8f8f8f;
  font-size: 19px;
}
.part-1 {
  list-style-type: disc;
  margin-left: 20px;
  padding-block: 20px;
}
.part-2 {
  list-style: decimal;
  margin-left: 20px;
  padding-block: 20px;
}

ul code {
  background-color: rgb(218, 218, 218);
  border-radius: 8px;
  box-shadow: 5px 3px 8px #00000057;
}

/* TABELLE */
table {
  margin-top: 30px;
  margin-bottom: 30px;
}
table caption {
  font-weight: 600;
  font-style: italic;
}
thead {
  text-align: center;
  color: white;
  background-color: #5c77c2;
}
thead th {
  font-size: 15px;
  text-align: center;
  width: 30%;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: rgba(255, 255, 255, 0.356);
}
tbody {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #5c77c2;
  text-align: center;
}
tbody td {
  padding-block: 15px;
}
.tr1 {
  background-color: rgba(231, 231, 231, 0.747);
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-color: rgba(128, 128, 128, 0.459);
  border-bottom-color: rgba(128, 128, 128, 0.459);
}
a {
  color: rgb(0, 153, 255);
  font-weight: 600;
}
iframe {
  margin-block: 40px;
  height: 100%;
  width: 100%;
  border-radius: 20px;
}
/* FORM */
section {
  background-color: rgb(230, 230, 230);
}
section h2 {
  text-align: center;
  padding-block: 10px;
  font-weight: 500;
  font-size: 30px;
}
section p {
  padding: 10px;
}
form {
  text-align: center;
  padding: 10px;
}
form input {
  border: none;
  width: 200px;
  height: 40px;
  border-bottom-style: dotted;
  border-bottom-width: 2px;
}
form button {
  font-size: 20px;
  font-weight: 600;
  color: white;
  background-color: #3562f5;
  border: none;
  box-shadow: none;
  height: 40px;
  width: 90px;
}
/* ELEMENTI NELL' ASIDE */
aside {
  background-color: white;
  margin-bottom: 5%;
}
aside h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 1em;
}
aside div {
  padding: 1em;
  width: 80%;
  background-color: rgb(230, 230, 230);
  border-width: 1px;
  border-style: solid;
  border-color: rgba(128, 128, 128, 0.459);
  margin-bottom: 1em;
}
aside div p:last-child {
  font-size: 15px;
  padding: 10px;
  text-align: end;
}
/* FOOTER */
footer {
  font-size: 15px;
  background: linear-gradient(356deg, rgb(1 18 26) 0%, rgb(26 74 103) 67%, rgb(31 100 111) 100%);
  text-align: center;
  color: white;
  padding: 25px;
}
footer a {
  color: rgb(183, 43, 226);
  font-weight: 800;
}
