/* IMPOSTAZIONI GENERALI */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  background-image: url(/assets/img/sfondo.png);
  background-image: repeating;
  margin: 30px;
  font-family: "Poppins", sans-serif;
  font-size: 400;
  line-height: 1.5;
  font-size: 19px;
}
strong {
  font-weight: 600;
  color: #eb3e80;
}
p {
  margin-bottom: 1rem;
}
/* HEADER */
header {
  background: linear-gradient(10deg, #0f5a85, #2b8d78);
  color: white;
  text-align: center;
  align-items: center;
  box-shadow: 6px 5px 12px #00000057;
  padding-block: 25px;
  text-transform: uppercase;
}
header a {
  color: white;
  text-decoration: none;
}
hr {
  clear: both;
  visibility: hidden;
}
ion-icon {
  align-items: center;
}
/* MAIN */
main {
  background-color: white;
  box-shadow: 6px 5px 12px #00000057;
  padding: 1rem;
}
/* ELEMENTI NEL MAIN - ARTICLE */
main h1 {
  padding-block: 10px;
  font-size: 800;
  font-size: 36px;
}
.sottotitolo {
  color: #8f8f8f;
  font-size: 19px;
}
iframe {
  height: 80%;
  width: 100%;
  border-radius: 10px;
}
section {
  background-color: rgb(196, 195, 195);
}
.part-1 {
  list-style-type: disc;
  margin-left: 20px;
  padding-block: 20px;
}
ul code {
  background-color: rgb(218, 218, 218);
  border-radius: 8px;
  box-shadow: 5px 3px 8px #00000057;
}
.part-2 {
  list-style: decimal;
  margin-left: 20px;
  padding-block: 20px;
}
/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
footer {
  background: linear-gradient(10deg, #0c5277, #0e6b57);
  text-align: center;
  color: white;
  background-color: rgb(10, 66, 66);
  padding-block: 25px;
}
footer a {
  color: blueviolet;
}
